* {
  box-sizing: border-box;
}

.Executive-container {
  display:flex;
  justify-content: center;
}

.Executive-container:after {
  content: "";
  display: table;
  clear: both;
}

.Executive-box {
    position:relative;
    justify-content: center;
    align-items: center;
    padding:2%;
    margin: 2%;
    width: 33.3%;
    float:left;
}

.Executive-text {
    position: absolute;
    padding: 10px;
    justify-content: left;
    bottom: 2%;
    left: 50%;
    background-color: #0960A5;
    opacity: 0.9;
    text-align: center;
    align-self: center;
    transform: translate(-50%, -50%);
    width: 75%;
}

@media screen and (max-width: 600px) {
  .Executive-box {width: 100%;}
  .Executive-container{display: block;}
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .Executive-box {
    width: 50%;
    padding: 1px;
    margin: 7px;}

  .Executive-text {
    width: 90%;
    bottom: 0;
    font-size: 1em;
  }
}

.Executive-box:hover  img {
  opacity: 0.5;
}

.Executive-image {
    width:100%;
}

.exec-title{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #FFFFFF;
  opacity: 0.9;
}
