* {
  box-sizing: border-box;
}

.Executive-container {
  display:flex;
}

.Executive-container:after {
  content: "";
  display: table;
  clear: both;
}

.Executive-box {
    position:relative;
    justify-content: center;
    align-items: center;
    padding:2%;
    margin: 2%;
    width: 33.3%;
    float:left;
}

@media screen and (max-width: 600px) {
  .Executive-box {width: 100%;}
  .Executive-container{display: block;}
}

.Executive-box:hover  img {
  opacity: 0.5;
}

.Executive-image {
    width:100%;
}

.Executive-text {
    position: absolute;
    padding: 10px;
    justify-content: left;
    bottom: 20%;
    left: 20%;
    background-color: #0960A5;
    opacity: 0.9;
}

.exec-title{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #FFFFFF;
  opacity: 0.9;
}
