.Footer-div {
    color: lightgrey;
    clear: both;
}

.Footer-div a {
    color: white;
}

.Footer-div a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.Footer-div h4 {
    color: white;
    font-size: 150%;
}

.Footer-column {
    margin: 40px;
    margin-bottom: 0px;
}
