.menutab {
  justify-content:space-between;
  width:auto;
  align-items: right;

}

.menutab > li {
  display: flex;
  flex-direction: row;
  align-items: left;
  color: white;
  text-align: center;
}

.tab {
  flex-grow: 1;
  float: left;
  border: white;
   position: relative;
}

.tab > span {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.main {
  color:  #FFFFFF;
}

.tab > li {
  display: flex;
  flex-direction: column;
  align-items: right;
}


.tab:hover {
  background-color: #FFFFFF;
}

.tab:hover > span {
  color:#2196F3;
}

.sub {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #2196F3;
  position: absolute;
  top: 100%;
}

.sub-heading {
   color: #2196F3;
}



.sub > li {
    float: none;
      color: #2196F3;
    padding: 5% 9%;
    text-decoration: none;
    text-align: left;
}

.sub li:hover {
    background-color:  #0960A5;
}

.sub li:hover > .sub-heading{
    color:  #FFFFFF;
}

.tab:hover .sub {
  display: block;
}


@media only screen and (max-width: 770px) {
  .menutab {
    align-items: center;
    justify-content: center;
  }

  .menutab > li {
    align-items: center;
  }



}
