.Page-content {
    margin: auto;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Page-content table td, .Page-content table th {
    border: 0px !important;
}

.Page-content table tr:hover {
    background-color: inherit !important;
}

#Page-title {
    color: white;
    font-size: 60pt;
    font-family: Nexa;
}

#Page-quote {
    color: white;
    font-size: 28pt;
    font-family: Nexa;
}

.Page-content h1 {
    font-size: 2em;
}

.Page-content a {
    color: #2196F3;
    text-decoration: underline;
}


.front {
    height: auto;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 9px;
}

.example {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin: 50px 0;

}

.item  {
  display: block;
  position: relative;
}

.item:hover  img {
  opacity: 0.5;
}

.panel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
