.Page-content {
    margin: 20px;
}

#Page-title {
    color: white;
    font-size: 3em;
    font-weight: 100;
}

.Page-content h1 {
    font-size: 2em;
}

.Page-content a {
    color: #36648B;
}

.Page-content img {
    height: auto;
}
