.Page-content {
    margin: 20px;
}

#Page-title {
    color: white;
    font-size: 3em;
    font-weight: 100;
}

.Page-content h1 {
    font-size: 2em;
}

.Page-content a {
    border-bottom: 1px solid black;
    transition: all 0.2s;
}

.Page-content a:hover {
    border-bottom: 3px solid black;
}
