.Sidebar-container {
    padding: 20px;
    height: 100%;
}

.Sidebar-link {
    padding: 5px; 
    transition: all 0.2s ease-in-out;
}

.Sidebar-link-active {
    transform: translate(-5px, 0);
}

.Sidebar-link:hover {
    transform: translate(-5px, 0);
}
