.App-content-container {
    display: flex;
    align-items: stretch;
    align-content: stretch;

    min-width: 100%;
    min-height: 100%;
}

.App-sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px grey;

}

.App-content {
}
