/* Set global colors here */
.primary-bg {
    background-color: #2196F3;
}

.primary-bg-darker {
    background-color: #0960A5;
}

a {
    color: #2196F3;
}

html, body, #root, .fill-area {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
